  .scroll-div{
    height: 500px;
    width: 400px;
    overflow-y: scroll;
    // background-color: #CFD8DC;
  }

  .add-btn, .btn{
    float: right;
    background-color: #6C7A89;
    color: #fff;
  }


.navbar{
  background-color: #96281B;
}

.spacing{
  padding: 250px 0px 150px 0px;
}

.card{
  background-color: #ECECEC;
}

.borderbox {
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5%;
  border-color: #ECECEC;
}


.sett {
  background-color: #ECECEC;
}
