  .scroll-div{
    height: 500px;
    width: 400px;
    overflow-y: scroll;
  }

  .add-btn{
    float: right;
  }

.navbar{
  background-color: #124b67;
}

.spacing{
  padding: 250px 0px 140px 0px;
}

.todocards{
  background-color: #ECECEC;
}

.inpcards{
  background-color: #e1dddd;
}

.donecards{
  background-color: #b4adad;
}

.borderbox {
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5%;
  border-color: #ECECEC;
  background-color: #fff;
}

.popup {
  width: 600px;
  height: 300px;
}

.headers {
  background-color: #c1d6da;
}

// blue #c1d6da
//icecream blue #d7e4e4
//lime #dbdf9e
